absl-py==2.3.1
accelerate==1.6.0
AccessControl==7.2
Acquisition==6.1
adabelief-pytorch==0.2.1
adam-atan2-pytorch==0.1.18
adam_mini==1.1.1
addict==2.4.0
aider-install==0.2.0
aiocache==0.12.3
aiofiles==22.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
aiosqlite==0.21.0
airportsdata==20250523
albucore==0.0.23
albumentations==1.4.24
alembic==1.14.0
altair==5.5.0
amqp==5.3.1
AMQPStorm==2.11.1
anaconda-anon-usage @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_60q98_n2ty/croot/anaconda-anon-usage_1732732446690/work
annotated-types==0.7.0
anthropic==0.66.0
antlr4-python3-runtime==4.9.3
anyio==4.10.0
anykeystore==0.2
apex==0.9.10.dev0
appdirs==1.4.4
appnope==0.1.4
aPrioriDNS==1.1.10
APScheduler==3.10.4
aqora-cli==0.17.0
archspec @ file:///croot/archspec_1709217642129/work
argcomplete==3.6.2
argdantic==1.3.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
args==0.1.0
array_record==0.8.1
arrow==1.3.0
arxiv==2.2.0
ase==3.25.0
ase_db_backends==0.10.0
asgiref==3.8.1
astor==0.8.1
astroid==2.15.6
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.5
async-timeout==5.0.1
asyncer==0.0.8
atorch==0.2.5
attention==5.0.0
attrs==25.3.0
auth0-python==3.24.1
AuthEncoding==6.0
Authlib==1.6.3
autobahn==24.4.2
autogen-agentchat==0.7.4
autogen-core==0.7.4
autogen-ext==0.7.4
autogenstudio==0.4.2.2
autograd==1.8.0
autoray==0.7.2
av==15.1.0
awkward==2.7.4
awkward_cpp==44
axial_positional_embedding==0.3.12
azure-ai-agents==1.2.0b4
azure-ai-documentintelligence==1.0.2
azure-ai-inference==1.0.0b9
azure-ai-projects==1.1.0b4
azure-common==1.1.28
azure-core==1.34.0
azure-identity==1.20.0
azure-search-documents==11.5.3
azure-storage-blob==12.26.0
babel==2.17.0
backoff==2.2.1
bcrypt==4.3.0
beaker-py==2.5.0
beartype==0.18.5
beautifulsoup4==4.13.4
bert-score==0.3.13
bibtexparser==1.4.3
bidict==0.23.1
billiard==4.2.2
bitarray==3.7.1
bitsandbytes==0.42.0
black==25.1.0
blake3==1.0.5
bleach==6.2.0
blinker==1.9.0
blis==1.3.0
blobfile==3.1.0
boilerplates==1.2.2
boltons @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_0a8f8rf2dq/croot/boltons_1737061714423/work
bootstrapped==0.0.2
boto3==1.36.0
botocore==1.36.26
Brotli==1.1.0
bs4==0.0.2
BTrees==6.1
build==1.2.2.post1
CacheControl==0.14.3
cached_path==1.7.3
cachetools==5.5.2
camelot-py==1.0.0
cantera==3.1.0
caribou==0.3.0
catalogue==2.0.10
cbor2==5.7.0
celery==5.5.3
certifi==2025.8.3
cffi @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e4xd9yd9i2/croot/cffi_1736182819442/work
cfgv==3.4.0
Chameleon==4.6.0
chardet==5.2.0
charset-normalizer==3.3.0
chemiscope==0.8.6
chex==0.1.91
chroma-hnswlib==0.7.6
chromadb==0.6.3
chz==0.3.0
class-resolver==0.7.1
classiq==0.90.0
cleo==2.1.0
cli-ui==0.19.0
click==8.2.1
click-default-group==1.2.4
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
clint==0.5.1
cloudpathlib==0.21.1
cloudpickle==3.1.1
clu==0.0.12
clusterscope==0.0.6
cmasher==1.9.2
cobble==0.1.4
codecarbon==3.0.0
colbert-ai==0.2.21
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.9.0
colorspacious==1.1.2
CoLT5-attention==0.11.1
comm==0.2.2
compressai==1.2.8
compressed-tensors==0.11.0
conda @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_42m3s35r10/croot/conda_1738170507318/work
conda-anaconda-telemetry @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_70bir5mxml/croot/conda-anaconda-telemetry_1736524610507/work
conda-anaconda-tos @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a5mn_e8dc_/croot/conda-anaconda-tos_1739299138582/work
conda-content-trust @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_9fusbfzixa/croot/conda-content-trust_1714483157715/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1737733694612/work/src
conda-package-handling @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_82jv6q9ech/croot/conda-package-handling_1731369032774/work
conda_package_streaming @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_2el5nlypud/croot/conda-package-streaming_1731366187356/work
condacolab==0.1.10
confection==0.1.5
ConfigArgParse==1.7
contourpy==1.3.1
coolname==2.2.0
coverage==7.10.1
cragmm-search-pipeline==0.5.0
cramjam==2.10.0
crashtest==0.4.1
croniter==6.0.0
cryptacular==1.6.2
cryptography @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_c5inr2hqv1/croot/cryptography_1732129882466/work
cssselect==1.3.0
cssutils==2.11.1
ctranslate2==4.6.0
cycler==0.12.1
cyclopts==3.23.1
cymem==2.0.11
Cython==3.0.12
dask==2025.9.0
databricks-sdk==0.57.0
dataclasses-json==0.6.7
datasets==4.1.1
DateTime==5.5
ddgs==9.0.0
debugpy==1.8.14
decorator==5.2.1
deepdiff==8.4.2
deepmerge==2.0
deepspeed==0.17.5
defusedxml==0.7.1
denoising-diffusion-pytorch==2.1.1
Deprecated==1.2.18
deprecation==2.1.0
depyf==0.19.0
dgl==2.2.0
diastatic-malt==2.15.2
diffrax==0.7.0
diffusers==0.33.1
dill==0.3.8
diskcache==5.6.3
distlib==0.3.9
distrax==0.1.7
distributed==2025.9.0
distro @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_ddkyz0575y/croot/distro_1714488254309/work
dlrover==0.5.1
dm-tree==0.1.9
dnspython==2.7.0
docarray==0.41.0
docdata==0.0.5
docker==7.1.0
docker-pycreds==0.4.0
docling==2.51.0
docling-core==2.47.0
docling-ibm-models==3.9.1
docling-parse==4.4.0
docstring_parser==0.17.0
doctr==1.9.0
DocumentTemplate==4.6
docutils==0.22
docx2txt==0.8
dol==0.3.19
dotenv==0.9.9
DoubleML==0.10.0
dspy==3.0.3
dspy-ai==3.0.3
duckduckgo_search==8.0.1
dulwich==0.22.8
durationpy==0.10
dynamiqs==0.3.2
e3nn==0.5.6
easydict==1.13
easyocr==1.7.2
ecdsa==0.19.1
-e git+https://github.com/mit-han-lab/efficientvit.git@de7d7733cc0329f391b33f1f459271562ec27bd5#egg=efficientvit
einops==0.8.1
einops-exts==0.0.4
einx==0.3.0
elastic-transport==8.17.1
elasticsearch==9.0.1
ema-pytorch==0.7.7
email_validator==2.2.0
emoji==2.14.1
emu-base==2.1.1
emu-mps==2.1.1
entmax==1.3
entrypoints==0.4
equinox==0.12.2
escodegen==1.0.11
esprima==4.0.1
esutils==1.0.1
et_xmlfile==2.0.0
etils==1.12.2
eval_type_backport==0.2.2
Events==0.5
exceptiongroup==1.3.0
executing==2.2.0
experiment-impact-tracker==0.1.8
ExtensionClass==6.0
fairchem==0.0.0b0
fairchem-core==2.3.0
fairchem-data-oc==0.2.0
faiss-cpu==1.11.0
fake-useragent==2.2.0
Faker==37.6.0
fastapi==0.118.0
fastapi-cli==0.0.13
fastapi-cloud-cli==0.3.0
fastapi-sso==0.16.0
fastembed==0.7.1
faster-whisper==1.1.1
fastjsonschema==2.21.1
fastmcp==2.12.0
fastuuid==0.13.5
feedparser==6.0.12
ffmpeg==1.4
ffmpy==0.6.1
fief-client==0.20.0
filelock==3.19.1
filetype==1.2.0
findpython==0.6.3
firecrawl-py==1.12.0
Flask==3.1.1
Flask-SocketIO==5.5.1
flatbuffers==25.2.10
flax==0.11.2
flow_matching==1.0.10
fomoh @ file:///Users/leonid/Desktop/misc/FusionAI/fomoh
fonttools==4.56.0
fparser==0.2.0
fpdf2==2.8.2
fprettify==0.3.7
fpzip==1.2.5
fqdn==1.5.1
frozendict @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_8b0cest_id/croot/frozendict_1713194839836/work
frozenlist==1.5.0
fsspec==2024.12.0
ftfy==6.2.3
future==1.0.0
futures==3.0.5
fuzzysearch==0.8.0
gast==0.6.0
gdown==5.2.0
geocoder==1.38.1
geographiclib==2.0
geopy==2.4.1
gepa==0.0.7
gguf==0.16.3
gguf-parser==0.1.1
ghp-import==2.1.0
git-python==1.0.3
gitdb==4.0.12
GitPython==3.1.44
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.181.0
google-auth==2.40.2
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
google-cloud-core==2.4.3
google-cloud-storage==2.19.0
google-crc32c==1.7.1
google-genai==1.32.0
google-generativeai==0.8.5
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.63.2
googlesearch-python==1.3.0
gpt-oss==0.0.8
GPUtil==1.4.0
gradio==5.43.1
gradio_box_promptable_image==0.0.1
gradio_clickable_arrow_dropdown==0.0.3
gradio_client==1.12.1
gradio_point_promptable_image==0.0.3
gradio_sbmp_promptable_image==0.0.3
grain==0.2.12
graph-retriever==0.8.0
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
graphviz==0.20.3
greenlet==3.1.1
greenops==0.1.0
groovy==0.1.2
grpcio==1.75.1
grpcio-status==1.62.3
grpcio-tools==1.75.1
gunicorn==23.0.0
h11==0.16.0
h2==4.3.0
h5py==3.13.0
hatch==1.14.1
hatchling==1.27.0
hdf5plugin==5.1.0
hf==0.0.8
hf-xet==1.1.8
hf_transfer==0.1.9
hjson==3.1.0
hpack==4.1.0
HRM-pytorch==0.1.6
html-to-markdown==1.3.2
html2text==2025.4.15
html5lib==1.1
httpcore==1.0.9
httplib2==0.30.0
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.35.3
humanfriendly==10.0
humanize==4.13.0
hupper==1.12.1
hvac==2.0.0
hydra-core==1.3.2
hyper-connections==0.1.15
hyperframe==6.1.0
hyperlink==21.0.0
identify==2.6.12
idna==3.4
iherb @ git+https://github.com/liamcryan/iherb.git@296f665be40518fa26b1fc70b1a0c839c323db42
imageio==2.37.0
imagesize==1.4.1
imbalanced-learn==0.14.0
imblearn==0.0
img2pdf==0.6.1
immutabledict==4.2.1
importlib_metadata==8.7.0
importlib_resources==6.5.2
influxdb==5.3.1
iniconfig==2.1.0
installer==0.7.0
instructor==1.11.3
interegular==0.3.3
ipdb==0.13.13
ipykernel==6.29.5
ipython==9.2.0
ipython-genutils==0.2.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
isodate==0.7.2
isoduration==20.11.0
isort==5.12.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jax==0.7.2
jaxlib==0.7.2
jaxtyping==0.3.2
jedi==0.19.2
Jinja2==3.1.5
jiter==0.9.0
jmespath==1.0.1
joblib==1.4.2
json5==0.12.0
json_repair==0.51.0
jsonlines==3.1.0
jsonpatch @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_3ajyoz8zoj/croot/jsonpatch_1714483362270/work
jsonpath-ng==1.7.0
jsonpickle==4.1.1
jsonpointer==2.1
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-path==0.3.4
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter-ydoc==0.2.5
jupyter_ai==1.15.0
jupyter_ai_magics==2.31.6
jupyter_client==7.4.9
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_fileid==0.9.3
jupyter_server_terminals==0.5.3
jupyter_server_ydoc==0.8.0
jupyterlab==3.6.8
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
jwcrypto==1.5.6
kagglehub==0.3.13
keras==3.9.0
keyring==23.13.1
kiwisolver==1.4.8
kombu==5.5.4
kreuzberg==3.1.5
kubernetes==32.0.1
lancedb==0.22.0
langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.78
langchain-graph-retriever==0.8.0
langchain-mistralai==0.2.12
langchain-ollama==0.3.10
langchain-openai==0.1.25
langchain-text-splitters==0.3.11
langcodes==3.5.0
langdetect==1.0.9
langgraph==0.4.3
langgraph-checkpoint==2.0.18
langgraph-prebuilt==0.1.8
langgraph-sdk==0.1.55
langsim==0.1.0
langsmith==0.4.33
language_data==1.3.0
lark==1.2.2
latex2mathml==3.78.1
latex2sympy2==1.9.1
lazy-object-proxy==1.9.0
lazy_loader==0.4
ldap3==2.9.1
Levenshtein==0.27.1
libclang==18.1.1
libmambapy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_8fxbc14zt9/croot/mamba-split_1734469521691/work/libmambapy
lightning==2.4.0
lightning-utilities==0.12.0
line_profiler==4.2.0
lineax==0.0.8
lingam==1.9.1
lingua-language-detector==2.1.1
lion-pytorch==0.2.3
litellm==1.77.4
litellm-enterprise==0.1.20
litellm-proxy-extras==0.2.19
littleutils==0.2.4
llama_cpp_python==0.1.9
llguidance==0.7.24
llvmlite==0.44.0
lm-format-enforcer==0.11.3
lmdb==1.6.2
local-attention==1.11.1
locket==1.0.0
logstash_formatter==0.5.17
loguru==0.7.3
lvis==0.5.3
lxml==5.4.0
madoka==0.7.1
magicattr==0.1.6
magika==0.6.2
Mako==1.3.9
mamba==0.11.3
mambapy==1.2.0
mammoth==1.9.1
marisa-trie==1.2.1
Markdown==3.8.2
markdown-it-py @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/markdown-it-py_1699237863445/work
markdown2==2.5.4
markdownify==1.1.0
markitdown==0.1.2
marko==2.2.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.0
matplotlib-inline==0.1.7
mccabe==0.7.0
mcp==1.12.4
mdurl @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/mdurl_1699237660008/work
menuinst @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_66is8p984e/croot/menuinst_1738943433761/work
mergedeep==1.3.4
microsearch==1.0.0
milvus-lite==2.4.12
mistral_common==1.8.5
mistralai==1.7.0
mistune==3.1.3
mixture-of-experts==0.2.3
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
ml_collections==1.1.0
ml_dtypes==0.5.3
mlflow==3.1.2
mlflow-skinny==3.1.2
mlx==0.29.2
mlx-lm==0.28.2
mlx-metal==0.29.2
mmh3==4.1.0
modelscope==1.29.2
monty==2025.3.3
more-click==0.1.2
more-itertools==10.6.0
motor==3.7.1
mpire==2.10.2
mplhep==0.3.59
mplhep_data==0.0.4
mpmath==1.3.0
msal==1.32.3
msal-extensions==1.3.1
msgpack==1.1.0
msgspec==0.19.0
multidict==6.1.0
MultiMapping==5.0
multipart==1.3.0
multiprocess==0.70.16
munch==4.0.0
muon-optimizer @ git+https://github.com/KellerJordan/Muon@f90a42b28e00b8d9d2d05865fe90d9f39abcbcbd
murmurhash==1.0.13
mypy-extensions==1.0.0
namex==0.0.8
narwhals==1.30.0
nbclassic==1.3.2
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.5
ninja==1.11.1.4
nltk==3.9.1
nodeenv==1.9.1
notebook==6.5.7
notebook_shim==0.2.4
nougat-ocr @ git+https://github.com/facebookresearch/nougat@5a92920d342fb6acf05fc9b594ccb4053dbe8e7a
numba==0.61.2
numdifftools==0.9.41
numexpr==2.10.2
numpy==1.26.4
nvidia-ml-py==12.570.86
oauthlib==3.2.2
ogb==1.3.6
olefile==0.47
ollama==0.5.3
ollama-ocr==0.1.6
olmocr==0.3.4
omegaconf==2.3.0
onnx==1.18.0
onnxruntime==1.20.1
onnxsim==0.4.36
open-fortran-parser==0.6.1
open-webui==0.6.27
openai==1.103.0
openai-harmony==0.0.4
openapi-core==0.19.5
openapi-pydantic==0.5.1
openapi-schema-validator==0.6.3
openapi-spec-validator==0.7.2
openbabel-wheel==3.1.1.22
opencv-contrib-python==4.10.0.84
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opensearch-py==2.8.0
opentelemetry-api==1.37.0
opentelemetry-distro==0.53b1
opentelemetry-exporter-jaeger==1.20.0
opentelemetry-exporter-jaeger-proto-grpc==1.20.0
opentelemetry-exporter-jaeger-thrift==1.20.0
opentelemetry-exporter-otlp==1.26.0
opentelemetry-exporter-otlp-proto-common==1.26.0
opentelemetry-exporter-otlp-proto-grpc==1.26.0
opentelemetry-exporter-otlp-proto-http==1.26.0
opentelemetry-instrumentation==0.41b0
opentelemetry-instrumentation-aiohttp-client==0.53b1
opentelemetry-instrumentation-aiohttp-server==0.53b1
opentelemetry-instrumentation-asgi==0.41b0
opentelemetry-instrumentation-asyncio==0.53b1
opentelemetry-instrumentation-click==0.53b1
opentelemetry-instrumentation-dbapi==0.53b1
opentelemetry-instrumentation-fastapi==0.41b0
opentelemetry-instrumentation-grpc==0.53b1
opentelemetry-instrumentation-httpx==0.53b1
opentelemetry-instrumentation-jinja2==0.53b1
opentelemetry-instrumentation-logging==0.53b1
opentelemetry-instrumentation-requests==0.53b1
opentelemetry-instrumentation-sqlalchemy==0.53b1
opentelemetry-instrumentation-sqlite3==0.53b1
opentelemetry-instrumentation-system-metrics==0.53b1
opentelemetry-instrumentation-threading==0.53b1
opentelemetry-instrumentation-tornado==0.53b1
opentelemetry-instrumentation-tortoiseorm==0.53b1
opentelemetry-instrumentation-urllib==0.53b1
opentelemetry-instrumentation-urllib3==0.53b1
opentelemetry-instrumentation-wsgi==0.53b1
opentelemetry-proto==1.26.0
opentelemetry-sdk==1.26.0
opentelemetry-semantic-conventions==0.47b0
opentelemetry-semantic-conventions-ai==0.4.9
opentelemetry-util-http==0.41b0
opt-einsum==3.3.0
opt-einsum-fx==0.1.4
optax==0.2.4
optimistix==0.0.10
optree==0.14.1
optuna==4.2.1
oqd-analog-emulator==0.1.0
oqd-compiler-infrastructure @ git+https://github.com/openquantumdesign/oqd-compiler-infrastructure@48ff88bddd6242ae642ce1a66641bb99e063ba22
oqd-core @ file:///Users/leonid/Desktop/FusionAI/Pasqual/oqd-core
oqd-trical @ git+https://github.com/OpenQuantumDesign/oqd-trical.git@a91473b0d244c69230ad539867597f937562313d
oracledb==3.2.0
orbax-checkpoint==0.11.25
ordered-set==4.1.0
orderly-set==5.4.0
orjson==3.10.15
outcome==1.3.0.post0
outdated==0.2.2
outlines==0.1.11
outlines_core==0.2.11
overrides==7.7.0
packaging==24.2
paddleocr==3.0.0
paddlepaddle==3.0.0
paddlex==3.0.0
palettable==3.3.3
pamqp==2.3.0
pandas==2.2.3
pandocfilters==1.5.1
parse==1.20.2
parso==0.8.4
partd==1.4.2
partial-json-parser==0.2.1.1.post5
pasqal-cloud==0.20.3
passlib==1.7.4
Paste==3.10.1
PasteDeploy==3.1.0
pastel==0.2.1
PasteScript==3.7.0
pathable==0.4.4
pathspec==0.12.1
patsy==1.0.1
pbkdf2==1.3
pbs-installer==2025.5.17
pdf2image==1.17.0
pdflatex==0.1.3
pdfminer.six==20250327
pdfplumber==0.11.6
pdftable==0.0.1
pdftext==0.6.3
peewee==3.18.1
peewee-migrate==1.12.2
pennylane==0.42.1
pennylane_lightning==0.42.0
performer-pytorch==1.1.4
Persistence==5.1
persistent==6.2
perun @ git+https://github.com/Helmholtz-AI-Energy/perun@079159b5e7bac4a8aba0049d194a82c13046bce6
pexpect==4.9.0
-e git+https://github.com/piche-eu/piche.ai.core@a08735372da6a0cd9cb6f5018cb5eccfa8a1915f#egg=piche_ai_core&subdirectory=../../../lib/piche_ai_core
pika==1.3.2
pikepdf==9.10.2
pillow==11.3.0
pinecone==6.0.2
pinecone-plugin-interface==0.0.7
pix2tex==0.1.4
pkginfo==1.12.1.2
plaster==1.1.2
plaster-pastedeploy==1.0.1
platformdirs==4.4.0
playa-pdf==0.5.0
playwright==1.49.1
plotly==5.24.1
pluggy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_bei6q1cvvt/croot/pluggy_1733169621717/work
ply==3.11
poethepoet==0.10.0
poetry==2.1.3
poetry-core==2.1.3
polars==1.33.1
polyfactory==2.22.2
pondpond==1.4.1
portalocker==2.10.1
posthog==5.4.0
POT==0.9.5
pre_commit==4.2.0
premailer==3.10.0
preshed==3.0.9
prettytable==3.16.0
primp==0.15.0
progiter==2.0.0
progressbar2==4.5.0
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.21.1
promise==2.3
prompt_toolkit==3.0.51
propcache==0.3.0
proto-plus==1.26.1
protobuf==6.31.1
psutil==7.0.0
psy==0.0.1
psycopg==3.2.10
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pulser==1.5.2
pulser-core==1.4.0
pulser-pasqal==0.20.3
pulser-simulation==1.5.2
pure_eval==0.2.3
puremagic==1.30
py-cpuinfo==9.0.0
py-rans==1.0.5
py3Dmol==2.5.2
py_rust_stemmers==0.1.5
pyarrow==21.0.0
pyasn1==0.4.8
pyasn1_modules==0.4.1
pybase64==1.4.2
pybind11==3.0.0
pyclipper==1.3.0.post6
pycocotools==2.0.10
pycosat @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_61k1o_oje7/croot/pycosat_1736868429741/work
pycountry==24.6.1
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycrdt==0.12.25
pycryptodomex==3.23.0
pydantic==2.11.7
pydantic-extra-types==2.10.5
pydantic-settings==2.10.1
pydantic_core==2.33.2
pydeck==0.9.1
pydub==0.25.1
pyee==12.0.0
pygam==0.9.1
Pygments @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pygments_1699238063295/work
PyJWT==2.10.1
pykeen==1.11.1
PyLaTeX==1.4.2
pylatexenc==2.10
pylint==2.17.5
pymatgen==2025.5.28
pymdown-extensions==10.14.2
pymilvus==2.5.0
pymongo==4.15.0
PyMuPDF==1.26.4
pymupdf4llm==0.0.27
PyMySQL==1.1.1
PyNaCl==1.6.0
pynput==1.8.1
pynvim==0.5.0
pynvml==12.0.0
pyobjc-core==11.0
pyobjc-framework-ApplicationServices==11.0
pyobjc-framework-Cocoa==11.0
pyobjc-framework-CoreText==11.0
pyobjc-framework-Quartz==11.0
pyod==2.0.5
pyomo==6.9.3
pypandoc==1.15
pyparsing==3.2.1
pypdf==6.0.0
PyPDF2==3.0.1
pypdfium2==4.30.0
pyperclip==1.9.0
PyPika==0.48.9
pyppeteer==2.0.0
pyproject_hooks==1.2.0
PyQt6==6.9.0
PyQt6-Qt6==6.9.0
PyQt6-WebEngine==6.9.0
PyQt6-WebEngine-Qt6==6.9.0
PyQt6_sip==13.10.0
pyqtorch==1.7.7
pyquery==2.0.1
pyramid==1.0
pyramid-mailer==0.15.1
pyre-extensions==0.0.32
PySide6==6.9.0
PySide6_Addons==6.9.0
PySide6_Essentials==6.9.0
PySocks @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pysocks_1699237568675/work
pystow==0.7.8
pysymmpol==0.1.2
pytesseract==0.3.13
pytest==8.3.5
python-bidi==0.6.6
python-calamine==0.3.2
python-dateutil==2.8.2
python-docx==1.2.0
python-dotenv==1.1.1
python-engineio==4.12.2
python-gettext==5.0
python-iso639==2025.2.18
python-jose==3.4.0
python-json-logger==3.3.0
python-Levenshtein==0.27.1
python-magic==0.4.27
python-multipart==0.0.18
python-oxmsg==0.0.2
python-pptx==1.0.2
python-socketio==5.13.0
python-utils==3.9.1
python3-openid==3.2.0
pytorch-fid==0.3.0
pytorch-lightning==2.5.0.post0
pytorch-msssim==1.0.0
pytorch-tabnet==4.1.0
pytorch_optimizer==3.7.0
pytube==15.0.0
pytz==2025.1
pyvis==0.3.2
PyWavelets==1.9.0
pyxlsb==1.0.10
PyYAML==6.0.1
pyyaml_env_tag==1.1
pyzmq==26.4.0
qdrant-client==1.14.3
qiskit==1.3.2
qiskit-aer==0.16.0
questionary==2.1.0
qurveros==1.0.0
qutip==5.0.1
qwen-vl-utils==0.0.11
rank-bm25==0.2.2
RapidFuzz==3.13.0
rapidocr-onnxruntime==1.4.4
ratelim==0.1.6
rdflib==7.1.4
rdkit==2025.3.3
redis==5.0.1
referencing==0.36.2
regex==2024.11.6
repoze.lru==0.7
repoze.sendmail==4.4.1
requests==2.32.4
requests-html==0.10.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
RestrictedPython==8.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rich-rst==1.3.1
rich-toolkit==0.15.1
rignore==0.7.0
roman==5.1
rpds-py==0.23.1
rq==2.6.0
rsa==4.9.1
rstream==0.30.0
rtree==1.4.1
ruamel.yaml @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_35yvtl3p84/croot/ruamel.yaml_1727980165481/work
ruamel.yaml.clib @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_70l_orv46q/croot/ruamel.yaml.clib_1727769819918/work
ruff==0.12.10
rustworkx==0.16.0
s3transfer==0.11.3
safehttpx==0.1.6
safetensors==0.5.2
schemavalidator==0.1.0b12
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.3
scipy-openblas32==0.3.30.0.2
sconf==0.2.5
screeninfo==0.8.1
seaborn==0.13.2
segment_anything @ git+https://github.com/facebookresearch/segment-anything.git@dca509fe793f601edb92606367a655c15ac00fdf
selenium==4.35.0
semantic-version==2.10.0
semchunk==2.2.2
semopy==2.3.11
semver==3.0.4
Send2Trash==1.8.3
sentence-transformers==5.1.0
sentencepiece==0.2.0
sentry-sdk==2.22.0
seqlog==0.3.29
sequence_align==0.3.0
setproctitle==1.3.5
setuptools==79.0.1
setuptools-scm==9.2.0
sgmllib3k==1.0.0
shampoo==0.1.0b14
shapely==2.1.0
shellingham==1.5.4
shiboken6==6.9.0
shtab==1.7.2
simple-parsing==0.1.7
simple-websocket==1.1.0
simplejson==3.20.1
simsimd==6.2.1
six==1.16.0
skforecast==0.15.1
slot_attention==1.4.0
smart-open==7.1.0
smmap==5.0.2
smolagents==1.14.0
sniffio==1.3.0
socksio==1.0.0
soft-moe==0.0.1
sophia-opt==0.2.2
sophia-optimizer==0.2.5
sortedcontainers==2.4.0
sounddevice==0.5.2
soundfile==0.13.1
soupsieve==2.7
soxr==1.0.0
spacy==3.8.6
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spdl @ file:///Users/leonid/Desktop/FusionAI/spdl
SpeechRecognition==3.14.3
spglib==2.6.0
SQLAlchemy==2.0.38
sqlmodel==0.0.25
sqlparse==0.5.3
srsly==2.5.1
sse-starlette==3.0.2
stack-data==0.6.3
starlette==0.45.3
starlette-compress==1.6.0
statsmodels==0.14.4
streamlit==1.43.2
stringzilla==3.12.5
structlog==25.4.0
submitit==1.5.3
surya-ocr==0.16.0
sympy==1.14.0
syntok==1.4.4
tabpfn==2.1.3
tabula-py==2.10.0
tabulate==0.9.0
tblib==3.1.0
tenacity==8.5.0
tencentcloud-sdk-python==3.0.1336
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-datasets==4.9.9
tensorflow-macos==2.16.2
tensorflow-metadata==1.17.2
tensorflow-metal==1.2.0
tensorstore==0.1.77
termcolor==2.3.0
terminado==0.18.1
tf_keras==2.19.0
tfp-nightly==0.26.0.dev20250924
thinc==8.3.6
threadpoolctl==3.6.0
thrift==0.22.0
tifffile==2025.8.28
tiktoken==0.9.0
timm==0.9.12
tinycss2==1.4.0
tinyhost==0.4.18
TinyNeuralNetwork @ git+https://github.com/alibaba/TinyNeuralNetwork.git@00f874068bc970ac462eb938cd608f9b0811a720
tokenizers==0.22.1
toml==0.10.2
tomli==2.2.1
tomli_w==1.2.0
tomlkit==0.12.1
toolz==1.0.0
torch==2.8.0
torch-ema==0.3
torch-geometric==2.6.1
torch-max-mem==0.1.4
torch-ppr==0.0.8
torch_cluster==1.6.3
-e git+https://github.com/LTH14/torch-fidelity.git@5746b7685c505fe3cb8ef0895c93b0d5f21f8b7d#egg=torch_fidelity
torch_kan @ https://github.com/Simon-Bertrand/KAN-PyTorch/archive/main.zip#sha256=1af618568ca3a5b260d816a50e65579269870ccbbef24164d0276cef43cad809
torch_scatter==2.1.2
torch_sparse==0.6.18
torch_spline_conv==1.2.2
torchac==0.9.3
torchao==0.13.0
torchaudio==2.8.0
torchcde==0.2.5
torchcfm==1.0.7
torchdata==0.11.0
torchdiffeq==0.2.5
torchdyn==1.0.6
torcheval==0.0.7
torchmetrics==1.6.2
torchprofile==0.0.4
torchsampler==0.1.2
torchsde==0.2.6
torchtnt==0.2.4
torchtune==0.6.1
torchvision==0.23.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
trampoline==0.1.2
transaction==5.0
transformers==4.57.0
translationstring==1.4
tree-sitter==0.25.1
treescope==0.1.10
trio==0.30.0
trio-websocket==0.12.2
trove-classifiers==2025.5.9.12
truststore @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a1qa3ogm4o/croot/truststore_1736550138575/work
ttb==0.3
txaio==23.1.1
typer==0.16.1
types-python-dateutil==2.9.0.20241206
types-requests==2.32.0.20250328
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
uhi==0.5.0
ujson==5.10.0
uncertainties==3.2.3
Unidecode==1.4.0
unquad==0.1.86
unstructured==0.16.17
unstructured-client==0.42.3
uproot==5.6.0
uqlm==0.3.0
uri-template==1.3.0
uritemplate==4.2.0
urllib3==1.26.20
uroman-python==1.2.8.1
userpath==1.9.2
uv==0.6.5
uvicorn==0.37.0
uvloop==0.21.0
validators==0.35.0
vector==1.6.1
vector-quantize-pytorch==1.17.1
velruse==1.1.1
venusian==3.1.1
version-query==1.6.3
vine==5.1.0
virtualenv==20.31.2
vision-mamba==0.1.0
-e git+https://github.com/vllm-project/vllm.git@19a00eb21099f7cd82fc4460718613df6f54fea1#egg=vllm
w3lib==2.3.1
wadler_lindig==0.1.6
waitress==3.0.2
wandb==0.19.7
wapy==1.0.0
wasabi==1.1.3
watchdog==6.0.0
watchfiles==1.0.5
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.11.1
webencodings==0.5.1
WebOb==1.8.9
websocket-client==1.8.0
websockets==13.1
WebTest==3.0.6
Werkzeug==3.1.1
wget==3.2
wheel==0.45.1
widgetsnbextension==4.0.14
wikipedia==1.4.0
Wikipedia-API==0.8.1
wincertstore==0.2
wrapt==1.15.0
WSGIProxy2==0.5.1
wsproto==1.2.0
WTForms==3.2.1
wtforms-recaptcha==0.3.2
x-transformers==2.7.4
xattr==1.1.4
xgrammar==0.1.25
xlrd==2.0.1
XlsxWriter==3.2.3
xxhash==3.5.0
y-py==0.6.2
yacs==0.1.8
yaecl==0.0.1
yapf==0.43.0
yarl==1.18.3
yaspin==3.1.0
youtube-transcript-api==1.0.3
ypy-websocket==0.8.4
z3c.pt==5.1
zc.lockfile==4.0
ZConfig==4.2
zetascale==2.8.2
zExceptions==5.0
zict==3.0.0
zipp==3.23.0
ZODB==6.1
zodbpickle==4.2
Zope==5.13
zope.annotation==6.0
zope.browser==4.0
zope.browsermenu==6.0
zope.browserpage==6.0
zope.browserresource==6.0
zope.cachedescriptors==6.0
zope.component==5.0.0
zope.configuration==7.0
zope.container==7.0
zope.contentprovider==7.0
zope.contenttype==6.0
zope.datetime==6.0
zope.deferredimport==6.0
zope.deprecation==5.1
zope.dottedname==7.0
zope.event==6.0
zope.exceptions==6.0
zope.filerepresentation==7.0
zope.globalrequest==3.0
zope.hookable==8.0
zope.i18n==6.0
zope.i18nmessageid==8.0
zope.interface==5.3.0
zope.lifecycleevent==6.0
zope.location==6.0
zope.pagetemplate==6.0
zope.processlifetime==4.0
zope.proxy==7.0
zope.ptresource==6.0
zope.publisher==8.0
zope.schema==8.0
zope.security==8.1
zope.sequencesort==6.0
zope.site==6.0
zope.size==6.0
zope.sqlalchemy==3.1
zope.structuredtext==6.0
zope.tal==6.0
zope.tales==7.0
zope.testbrowser==8.0
zope.testing==6.0
zope.traversing==6.0
zope.viewlet==6.0
zstandard @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a5_i6g4o6n/croot/zstandard_1731356352787/work
